/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

:root{
  --main-color:#2196f3;
  --main-color-alt:#1787e0;
  --main-transition:0.3s;
  --main-padding-top:100px;
  --main-padding-bottom:100px;
  --section-background:#ececec;
  --text-color:#777;
  --line-height:1.6;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;
  margin:0;
  padding:0
}
a{
  text-decoration: none;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width:768px){
  .container{
      width:750px;
  }
}
@media (min-width:992px){
  .container{
      width:970px;
  }
}
@media (min-width:1200px){
  .container{
      width:1170px;
  }
}
/* End global rules */
@font-face {
    font-family: 'Myfont';
    src: url('../static/WorkSans-Bold.ttf');
    format:'woff';
    font-weight: normal;
    font-style: normal;
  }
body{
font-family: 'Myfont';
}
.main-title{
  border: 2px solid black;
    width:fit-content;
    padding: 10px 20px;
    margin:0 auto 80px;
    font-size: 30px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}
.main-title:hover{
  color:white;
  border:2px solid white; 
  transition-delay: var(--main-transition);
}
.main-title::before{
  content: "";
  width:12px;
  height:12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top:50%;
  left:-30px;
  transform: translateY(-50%);
}
.main-title::after{
  content:"";
  content: "";
  width:12px;
  height:12px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top:50%;
  right:-30px;
  transform: translateY(-50%);
}
.main-title:hover::before{
  z-index: -1;
  animation: left-move var(--main-transition) linear forwards;
}
.main-title:hover::after{
  z-index: -1;
  animation: right-move var(--main-transition) linear forwards;
}
/* Start header */
.header{
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo{
  color:var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height:73.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:767px){
  .header .logo{
    width:100%;
    height:50px
  }
}
.header .main-nav{
  display: flex;
}
@media (max-width:767px){
  .header .main-nav{
    margin:auto;
  }
}
.header .main-nav > li:hover .megamenue{
  opacity:1;
  z-index:100;
  top:calc(100% + 1px)
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height:73.5px;
  position: relative;
  color:black;
  padding:0 30px;
  transition:var(--main-transition);
  overflow: hidden;
}
@media (max-width:767px){
  .header .main-nav > li > a{
    padding:10px;
    font-size: 14px;
    height:40px
  }
}
.header .main-nav > li > a::before{
  content: "";
  position: absolute;
  width:100%;
  height:4px;
  background-color:var(--main-color);
  top:0;
  left:-100%

}
.header .main-nav > li > a:hover{
  color:var(--main-color);
  background-color: #fafafa;
}
.header .main-nav > li > a:hover::before{
  left:0;
  transition:var(--main-transition);
}
/* Start Megamenu */
.header .megamenue{
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index:-1;
    display: flex;
    gap:40px;
    top:calc(100% + 50px);
    opacity:0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width:767px){
  .header .megamenue{
    flex-direction: column;
    gap:0;
    padding:5px
  }
}
.header .megamenue .image img{
  max-width: 100%;
}
@media (max-width:991px){
  .header .megamenue .image{
      display: none;
  }
}
.header .megamenue .links{
  min-width: 250px;
  flex:1;
}
.header .megamenue .links li{
  position: relative;
}
.header .megamenue .links li:not(:last-child){
  border-bottom:1px solid #e9e6e6;
}
@media (max-width:767px){
  .header .megamenue .links:first-of-type li:last-child{
    border-bottom:1px solid #e9e6e6;

  }
}
.header .megamenue .links li::before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width:0px;
  height:100%;
  background-color: #fafafa;
  z-index:-1;
  transition: var(--main-transition);
}
.header .megamenue .links li:hover::before{
  width:100%
}
.header .megamenue .links li a{
  color:var(--main-color);
  display: block;
  padding:15px;
  font-size: 18px;
  font-weight: bold;
}
.header .megamenue .links li a i{
  margin-right: 15px;
}
/* end Megamenu */
/* end header */
/* Start landing */
.landing{
position: relative;

}
.landing::before{
  content: "";
  position: absolute;
  left:0;
  top:0px;
  width:100%;
  height:100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewy(-6deg);
  transform-origin: top left;
}
.landing .container{
  min-height: calc(100vh -73.5px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
/* .landing .container{
  display: flex;
  justify-content: space-between;
} */
 .landing .text{
  flex:1;
 }
 @media (max-width:991px){
  .landing .text{
    text-align: center;
  }
}
 .landing .text h1{
  font-size: 40px;
  margin:0;
  letter-spacing: -2px
 }
 @media (max-width:767px){
  .landing .text h1{
    font-size: 28px;
  }
}
 .landing .text p{
  font-size:23px ;
  line-height: var(--line-height);
  margin:5px 0 0;
  color:#666;
  max-width: 500px;
 }
 @media (max-width:991px){
  .landing .text p{
    margin:10px auto;
  }
}
.landing .container .image img{
  width:600px;
  position: relative;
  animation: up-and-down 5s linear infinite;
}
@media (max-width:991px){
  .landing .image{
    display: none;
  }
}
.landing .go-down{
  color: var(--main-color);
  position: absolute;
  bottom:30px;
  left:50%;
transform: translateX(-50%);
transition: var(--main-transition);

}
.landing .go-down:hover{
  color:var(--main-color-alt)
}
.landing .go-down i{
  animation: bouncing 1.5s infinite;
  font-size: 30px;
  font-weight: bold;
}
/* End landing */
/* Start articles */
.articles{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.articles .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr)) ;
  gap:40px
}
.articles .box{
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover{
  transform:translateY(-10px);
  box-shadow:0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img{
  width:100%;
  max-width: 100%;
}
.articles .box .content{
  padding:20px;
}
.articles .box .content h3{
  margin:0
}
.articles .box .content p{
  margin:10px 0 0;
  line-height:1.5;
  color:var(--text-color)
}
.articles .box .info{
  padding:20px;
  border-top: 1px solid #e6e6e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.articles .box .info a{
  color:var(--main-color);
  font-weight:bold;

}
.articles .box .info i{
  color:var(--main-color)
}
.articles .box:hover .info i{
  animation:moving-arrow 0.3s linear infinite
}
/* end articles */
/* Start Gallery */
.gallery{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.gallery .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
  gap:40px
}
.gallery .box{
  padding:15px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image{
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before{
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:0px;
  height:0px;
  background-color:rgb(255 255 255 / 20%);
  opacity:0;
  z-index:2
}
.gallery .box .image:hover::before{
  animation : flashing 0.7s
}
.gallery .box img{
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img{
  transform: rotate(5deg) scale(1.1);
}

/* End Gallery */
/* Start Features */
.features{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
  gap:40px
}
.features .box{
  text-align: center;
  border:1px solid #ccc
}
.features .container img{
  max-width: 100%
}
.features .container .img-holder{
  position: relative;
  overflow: hidden;
}
.features .container .img-holder::before{
  content:'';
  position: absolute;
  top:-1;
  left:0;
  width:100%;
  height:100%;
}
.features .container .img-holder::after{
  content:'';
  position: absolute;
  bottom:0;
  right:0;
  border-style: solid;
  border-width:0px 0px 100px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
.features .box:hover .img-holder::after{
  border-width:170px 500px 170px 0;
}
.features .box h2{
position: relative;
font-size: 40px;
margin:auto;
width:fit-content
}
.features .box h2::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left:15px;
  height:5px;
  
  width:calc(100% - 30px)
}
.features .box p{
  line-height: 2;
  font-size: 20px;
  margin:30px 0;
  padding:25px;
  color:var(--text-color)
}
.features .box a{
  display: block;
  border:2px solid transparent;
  width:fit-content;
  margin:0 auto 30px;
  font-weight: bold;
  font-size: 22px;
  padding:10px 30px;
  border-radius: 6px;
  transition: var(--main-transition);
  
}
.features .quality .img-holder::before{
  background-color: rgb(244 64 54 / 60%);
}
.features .quality h2::after{
  background-color: #f44036;
}
.features .quality a{
  color:#f44036;
  border-color: #f44036;
  background: linear-gradient(to right,#f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position:right bottom ;
}
.features .box:hover a{
  background-position:left bottom ; 
  color:white
}
.features .time .img-holder::before{
  background-color: rgb(0 150 136 / 60%);
}
.features .time h2::after{
  background-color: #009688;
}
.features .time a{
  color:#009688;
  border-color: #009688;
  background: linear-gradient(to right,#009688 50%, white 50%);
  background-size: 200% 100%;
  background-position:right bottom ;

}
.features .box:hover a{
  background-position:left bottom ;
  color:white;
}
.features .Passion .img-holder::before{
  background-color: rgb(3 169 244 / 60%);
}
.features .Passion h2::after{
  background-color: #03a9f4;
}
.features .Passion a{
  color:#03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right,#03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position:right bottom ;
  
}
.features .box:hover a{
  background-position:left bottom ;
  color:white;
}
/* End Features */
/* start Testimonials */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
  gap:40px
}
.testimonials .container .box{
  padding:20px;
  background-color: white;
  box-shadow: 0px 2px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
}
.testimonials .container .box img{
  position: absolute;
  top: -50px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--section-background);

}
.testimonials .container .box h3{
  margin :0 0 10px;
  color: black;
}
.testimonials .container .box span{
  color:var(--main-color);
  margin-bottom: 10px;
  display: block;
}
.testimonials .container .box .rate .filled {
  color:#FFC107
}
.testimonials .container .box p{
  line-height: 1.5;
  color:var(--text-color);
  margin-top: 10px;
  margin-bottom: 0px;
}
/* end Testimonials */
/* Start teamMembers */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team .box {
  position: relative;
}
.team .box::before,
.team .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team .box::after {
  z-index: -1;
  background-color: #e4e4e4;
  width: 0;
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
.team .box:hover img {
  filter: grayscale(100%);
}
.team .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.team .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .box .data .social a:hover i {
  color: var(--main-color);
}
.team .box .data .social i {
  color: var(--text-color);
  transition: var(--main-transition);
}
.team .box .info {
  padding-left: 80px;
}
.team .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
.team .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
}
.team .box:hover .info h3 {
  color: var(--text-color);
}

/* end teamMembers */
/* Start services */
.services{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--section-background);
  clip-path: polygon(
    0 10px, 1% 0, 2% 10px, 3% 0, 4% 10px, 5% 0,
    6% 10px, 7% 0, 8% 10px, 9% 0, 10% 10px,
    11% 0, 12% 10px, 13% 0, 14% 10px, 15% 0,
    16% 10px, 17% 0, 18% 10px, 19% 0, 20% 10px,
    21% 0, 22% 10px, 23% 0, 24% 10px, 25% 0,
    26% 10px, 27% 0, 28% 10px, 29% 0, 30% 10px,
    31% 0, 32% 10px, 33% 0, 34% 10px, 35% 0,
    36% 10px, 37% 0, 38% 10px, 39% 0, 40% 10px,
    41% 0, 42% 10px, 43% 0, 44% 10px, 45% 0,
    46% 10px, 47% 0, 48% 10px, 49% 0, 50% 10px,
    51% 0, 52% 10px, 53% 0, 54% 10px, 55% 0,
    56% 10px, 57% 0, 58% 10px, 59% 0, 60% 10px,
    61% 0, 62% 10px, 63% 0, 64% 10px, 65% 0,
    66% 10px, 67% 0, 68% 10px, 69% 0, 70% 10px,
    71% 0, 72% 10px, 73% 0, 74% 10px, 75% 0,
    76% 10px, 77% 0, 78% 10px, 79% 0, 80% 10px,
    81% 0, 82% 10px, 83% 0, 84% 10px, 85% 0,
    86% 10px, 87% 0, 88% 10px, 89% 0, 90% 10px,
    91% 0, 92% 10px, 93% 0, 94% 10px, 95% 0,
    96% 10px, 97% 0, 98% 10px, 99% 0, 100% 10px,
    100% 100%, 0% 100%
  );
}
.services .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
  gap:40px
}
.services .box{
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .box::before{
  content:'';
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  height:3px;
  top:-3px;
  background-color: var(--main-color);
  width:0
}
.services .box:hover::before{
  transition: var(--main-transition);
  width:100%
  
}
.services .box:hover{
  transform: translateY(-10px);

}
.services .box i{
  margin:40px auto 25px;
  color:#d5d5d5;
  display: block;
  text-align: center;
  font-size: 65px;
}
.services .box h3{
  text-align: center;
  margin:20px 0 40px;
  font-size:25px;
  color:var(--main-color)
}
.services .box .info{
  padding:15px;
  position: relative;
  background-color: #f9f9f9;
  text-align: right;
  
}
.services .box .info a{
  color:var(--main-color)
}
.services .box .info::before{
  content:"0" counter(services);
  position: absolute;
  color: white;
  background-color: var(--main-color);
  left:0;
  top:0;
  height:100%;
  width:80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .box .info::after{
  content:'';
  position: absolute;
  background-color: #d5d5d5;
  top:0;
  left:80px;
  width:50px;
  height:calc(100% + 0.4px);
  transform: skewX(-30deg);
}
/* End services */
/* Start skills */
.ourskills{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: white;
}
.ourskills .container{
  display: flex;
  align-items: center;
}
@media (max-width:991px){
  .ourskills img{
    display: none;
  }
}
.ourskills .skills{
  flex:1
}
.ourskills .skills .skill h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ourskills .skills .skill h3 span{
  font-size: 12px;
  border:1px solid #ccc;
  padding:3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.ourskills .skills .skill .progress{
  height:30px;
  background-color: #eee;
  position: relative;
}
.ourskills .skills .skill .progress span{
  position: absolute;
  left:0;
  top:0;
  height: 100%;
  background-color: var(--main-color);
}
/* end skills */
/* Start works */
.works{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color:var(--section-background);
}
.works .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
@media (max-width:991px){
  .works .container{
  flex-direction: column;
  }
}

.works .image{
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width:991px){
  .works .image{
  margin:0 0 50px
  }
}
.works .info .box img{
  width:64px;
  margin-right: 30px;
  
}
.works .info .box{
  background-color: #f6f5f5;
  padding:30px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index:1;
  flex-direction: column;
  text-align: center;
  
}
.works .info .box::before{
  content: '';
  left:50%;
  top:50%;
  position: absolute;
  width:0;
  height:0;
  transform: translate(-50%,-50%);
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.works .info .box:hover::before{
  width:100%;
  height:100%
}
.works .info .box h3{
  margin:0;
  font-size: 22px;
}
.works .info .box p{
  color:var(--text-color);
  line-height: var(--line-height);
  margin:10px 0 0;
  font-size: 18px;
}
/* end works */
/* Start envents */
.events{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color:white;
}
.events .container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.events .container img{
  max-width: 430px;
}
@media (max-width:991px){
  .events .container img{
  display:none
  }
}
.events .container .info{
  flex:1
}
.events .container .info .time{
  display:flex;
  align-items: center;
  margin:20px auto;
  gap:10px;
  justify-content: center;
}
.events .container .info .time .unit{
  border:1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width:75px;
  transition: var(--main-transition);
}
.events .container .info .time .unit span{
  display: block;
  transition: var(--main-transition);
}
.events .container .info .time .unit span:first-child{
  font-size: 35px;
  padding:15px;
  color:var(--main-color);
  
}
.events .container .info .time .unit span:last-child{
  padding:8px 10px;
  font-size: 13px;
  border-top:1px solid #d4d4d4;

}
.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-child{
  border-color: var(--main-color);
}
.events .subscribe{
  width:100%;
  margin-top: 40px;
}
.events .info h2{
  text-align: center;
  margin:40px 0 0;
  font-size: 30px;
}
.events .info p{
  text-align: center;
  line-height: var(--line-height);
  font-size: 19px;
  color:var(--text-color); 
}
.events .subscribe form{
  width:600px;
  margin:20px auto;
  padding:30px 40px;
  background-color: #f6f6f5;
  border-radius: 50px;
  display: flex;
  gap:25px
}
@media (max-width:767px){
  .events .subscribe form{
  max-width:100%;
  padding:20px;
  flex-direction: column;
  border-radius: 0;
  }
}
.events .subscribe form input[type="email"]{
  padding:20px;
  border-radius: 50px;
  border:none;
  flex:1;
  caret-color: var(--main-color);
}
@media (max-width:767px){
  .events .subscribe form input[type="email"]{
    border-radius: 0;
  }
}
.events .subscribe form input[type="email"]:focus{
  outline: none;
}
.events .subscribe form input[type="email"]::placeholder{
  transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder{
  opacity:0
}
.events .subscribe form input[type="submit"]{
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color:white;
  padding:20px;
  cursor: pointer;
  font-weight: bold;
  transition: var(--main-transition);
}
@media (max-width:767px){
  .events .subscribe form input[type="submit"]{
    border-radius: 0;
  }
}
.events .subscribe form input[type="submit"]:hover{
  background-color: var(--main-color-alt);
}
.dots {
  position: absolute;
  width: 180px;
  height: 200px;
  background-image: radial-gradient(var(--main-color) 3px, transparent 3px);
  background-size: 15px 15px;
  opacity: 1;
  z-index: 0;
}
.dots-up {
  top: 200px;
  right: 0;
}

.dots-down {
  bottom: 200px;
  left: 0;
}
/* End events */
/* Start price */
.price{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color:var(--section-background);
}
.price .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr)) ;
  gap:20px
}
.price .container img{
  max-width: 70px;
  margin-bottom:30px
}
.price .box{
  position: relative;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),0px 2px 4px 0px rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  background-color: white;
  text-align: center;
  z-index: 1;
}
.price .box::before,
.price .box::after{
  content:''; 
  width:0;
  height:50%;
  background-color: #f6f6f6;
  position: absolute;
  z-index: -1;
  transition: var(--main-transition);

}
.price .box:hover::before,
.price .box:hover::after{
  width:100%
}
.price .box::before{
  left:0;
}
.price .box::after{
  right:0;
  bottom:0
}
@media (min-width:1023px){
  .price .box.popular{
  top:-20px;
}
}
.price .container .box.popular .label{
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding:10px 10px 35px 10px;
  font-size: 18px;
  right:20px;
  width:40px
}
.price .container .box.popular .label::before{
  content:'';
  position: absolute;
  bottom: 0;
  right:0;
  border-color: transparent transparent white transparent;
  border-style:solid;
  border-width:20px
}
.price .box title{
  font-weight: bold;
  margin:30px 0;
  font-size: 25px;
  letter-spacing: -1px;
}
.price .box .pric{
  margin-bottom:20px
}
.price .box .amount{
  display: block;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 5px;
  color:var(--main-color)
}
.price .box .time{
  color:var(--text-color);

}
.price .box ul{
  text-align: left;
  
}
.price .box ul li{
  padding:20px;
  border-top: 1px solid #eee;
}
.price .box ul li::before{
  font-family: "Font Awesome 5 Free";
  content:"\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.price .box a{
  display: block;
  width:fit-content;
  border: 2px solid var(--main-color);
  color:var(--main-color);
  margin:30px auto 40px;
  padding:15px 20px;
  border-radius:6px;
  font-weight: bold;
  transition: var(--main-transition);
}
.price .box a:hover{
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color:white
}
.dots {
  position: absolute;
  width: 180px;
  height: 200px;
  background-image: radial-gradient(var(--main-color) 3px, transparent 3px);
  background-size: 15px 15px;
  opacity: 1;
  z-index: 0;
}
.dots-up {
  top: 200px;
  right: 0;
}

.dots-down {
  bottom: 200px;
  left: 0;
}
/* End price */
/* Start videos */
.videos{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.videos .holder{
  display:flex;
  justify-content: center;
  background-color: var(--section-background);
  border:1px solid #ddd
}
@media (max-width:991){
  .videos .holder{
    flex-direction: column;
  }
}
.videos .holder .list{
  min-width:300px;
  background-color: white;
}
.videos .holder .preview img{
  max-width: 100%;
}
.videos .holder .list .name{
  display: flex;
  justify-content: space-between;
  padding:20px;
  background-color: #f4f4f4;
  font-weight: bold;
}
.videos .holder .list ul li{
  padding:15px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .holder .list ul li:hover{
  background-color: #fefefe;
  color:var(--main-color)
}
.videos .holder .list ul li span{
  display: block;
  margin-top:10px;
  color:var(--text-color)
}
.videos .holder .preview{
  background-color: #e2e2e2;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview .nfo{
  padding:20px;
  background-color: white;
  margin-top: 10px;
}
/* End videos */
/* Start Stats */
.stats{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-image: url(../img/stats.jpg);
  background-size: cover;
  min-height: 300px;
}
.stats::before{
  content: '';
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  background-color: rgb(255 255 255 / 95%);
}
.stats .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr)) ;
  gap:20px
}
.stats .box{
  background-color: white;
  padding:30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.8;
  transition: var(--main-transition);
}
.stats .box{
  opacity:1
}
.stats  h2{
  font-weight: bold;
  font-size: 40px;
  width:fit-content;
  margin: 0 auto 50px;
  position: relative;
}
.stats .box::before,
.stats .box::after
{
  content:'';
  position: absolute;
  width:2px;
  background-color: var(--main-color);
  transition: 1s;
  height:0;
}
.stats .box::before{
  right:0;
  top:0
}
.stats .box::after{
  left:0;
  bottom:0
}
.stats .box:hover::before,
.stats .box:hover::after
{
  height: 100%;
}
.stats .box span:nth-of-type(1){
 
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 13px;
}
.stats .box span:nth-of-type(2){
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}
.stats .box i{
  font-size: 30px;
}
/* End stats */
/* Start discount */
.discount{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image{
  background-image: url(../img/discount-background1.jpg);
  background-size: cover;
  color:white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index:1;
  animation: change-background 10s linear infinite;

}
.discount .image::before{
  content: '';
  position: absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-color: rgb(23 135 224 / 97%);
  z-index:-1
}
.discount .content{
  text-align: center;
  padding:0 20px
}
.discount .content h2{
  font-size: 40px;
  letter-spacing: -2px;
}
.discount .content p{
  line-height:var(--line-height);
  font-size:20px;
  max-width:500px
}
.discount .content img{
  width:300px;
  max-width:100%
}
.discount .form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
.discount .form .input{
  display: block;
  width:100%;
  margin-bottom: 20px;
  padding:15px;
  border:none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input{
  resize: none;
  height:200px
}
.discount .form .input:focus{
  outline: none;
}
.discount .form [type="submit"]{
  display: block;
  width:100%;
  padding:15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border:none;
  cursor: pointer;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover{
  background-color: var(--main-color-alt);
}
@media (max-width:991px){
  .discount .image{
    flex-basis: 100%;
  }
}
/* End discount */
/* Start footer */
.footer{
  background-color: #191919;
  padding:70px 0 0
}
.footer .container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr)) ;
  gap:20px
}
.footer .box h2{
 color:white;
 font-size: 50px;
 margin :0 0 20px;
}
.footer .box .social{
  display: flex;
}
.footer .box .social li{
  margin-right: 10px;

}
.footer .box .social li a{
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height:50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover{
  background-color: #1877f2;
}
.footer .box .social .twitter:hover{
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover{
  background-color: #ff0000;
}
.footer .box .text{
  line-height: 2;
  color:#b9b9b9 ;
}
.footer .box .links li{
  padding:15px 0;
  transition: var(--main-transition);
}
.footer .box .links li a{
  color:#b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before{
  font-family: "Font Awesome 5 Free";
  content:"\F101";
  font-weight: 900;
  margin-right: 10px;
  color:var(--main-color)
}
.footer .box .links li:hover{
  padding:10px
}
.footer .box .links li:not(:last-child){
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover a{
  color:white
}
.footer .box .line{
  display: flex;
  align-items: center;
  color:#b9b9b9;
  margin-bottom: 25px;
}
.footer .box .line i{
  font-size: 25px;
  color:var(--main-color);
  margin:10px;
}
.footer .box .line .info{
  line-height: var(--line-height);
  flex:1
}
.footer .footer-gallery img{
  width:78px;
  border:3px solid white;
  margin:2px
}
.footer .box span{
  display: block;
}
.footer .copyright{
  padding:25px 0;
  text-align: center;
  color:white;
  margin:50px 0 0;
  border-top:1px solid #444;
}
/* End footer */
/* Start animation */
@keyframes up-and-down{
  0%,100%{
    top:0
  }
  50%{
  top:-30px;
}}
@keyframes bouncing {
  0%,10%,20%,50%,80%,100%{
    transform: translateY(0);
  }
  40%,60%{
    transform: translateY(-20%);
  }
}
@keyframes left-move{
  50%{
    left:0;
    width:12px;
    height:12px
  }
  100%{
    left:0;
    border-radius: 0;
    width:50%;
    height:100%;
  }
}
@keyframes right-move{
  50%{
    right:0;
    width:12px;
    height:12px
  }
  100%{
    right:0;
    border-radius: 0;
    width:50%;
    height:100%;
  }
}
@keyframes moving-arrow{
  100%{
    transform: translateX(10px);
  }
}
@keyframes flashing{
  0%,40%{
    opacity:1
  }
  100%{
    opacity: 1;
    width:200%;
    height:200%
  }
}
@keyframes change-background{
  0%,100%{
    background-image: url(../img/discount-background1.jpg);
  }
  50%{
    background-image: url(../img/discount-background2.jpg);
  }
}
/* end animation  